@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.ant-tabs-nav-list {
  @apply w-full;
}

.ant-tabs-tab {
  @apply flex-1;
}

.ant-tabs-tab-btn {
  @apply w-full text-center;
}

.ant-tabs:not(.ant-tabs-card) {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
}

.ant-tabs-content-holder {
  padding: 19px;
}

.ant-alert {
  padding: 15px 12px;
  font-size: 15px;
}
