@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

ul,
ol {
  margin-left: 15px;
}

.ant-tabs {
  .ant-tabs-nav-list {
    @apply w-full;
  }

  .ant-tabs-nav {
    display: block;
  }

  .ant-tabs-tab {
    @apply flex-1;
  }

  .ant-tabs-tab-btn {
    @apply w-full text-center;
  }
  .ant-tabs-content-holder {
    padding: 19px;
  }

  &.ant-tabs-card {
    .ant-tabs-content-holder {
      margin-top: -17px;
      border: 1px solid #f0f0f0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

.ant-tabs:not(.ant-tabs-card) {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
}

.ant-alert {
  padding: 15px 12px;
  font-size: 15px;
}
